.fill-path-primary {
    path {
        fill: var(--primary);
    }
}

.fill-path-secondary {
    path {
        fill: var(--secondary);
    }
}

.fill-path-success {
    path {
        fill: var(--success);
    }
}

.fill-path-danger {
    path {
        fill: var(--danger);
    }
}

.fill-path-warning {
    path {
        fill: var(--warning);
    }
}

.fill-path-info {
    path {
        fill: var(--info);
    }
}

.fill-path-brand {
    path {
        fill: var(--brand);
    }
}

.w-50 {
    width: 50%;
}

.select-option-app {
    width: 379px;
    margin: 0 auto;
    .select-option-options {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .select-option-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}